[2018-03-05 13:30] mradcliffe opened #1 "ddev.exe didn't copy on Windows 10 Pro (missing %HOMEPATH%)"
## What happened (or feature request):

Running .\install_ddev.cmd from the following places:

1. Using Docker QuickStart Terminal (Git Bash included with Docker ToolBox):
   * `cd /c/Users/username/Desktop/drupal_sprint_package`
   * `./install_ddev.cmd`
   * Error: `C:\Users\username\Desktop\drupal_sprint_package\ddev_tarballs>copy ddev.exe \\AppData\Local\Microsoft\WindowsApps The network path

[2018-03-05 13:45] mradcliffe opened #2 "Packaging script may need to include COPYING with docker images, docker, Drupal copyright info"
## Feature request:

We may need to include a COPYING file with licenses and copyright for any software we distribute.

## What you expected to happen:

Packaging script should include COPYING file (or keep it in this repository) with the license for this software, ddev, docker, docker images and Drupal.

## Possible example text:

[2018-03-05 13:56] mradcliffe opened #3 "Discuss: Consider not auto-importing database for sprints"
My reasoning from the other thread:

## Todo

- Start thread on Slack in #mentoring

[2018-03-05 14:02] mradcliffe opened #4 "Packaging script adds .gitignore into drupal8 checkout"
## Feature request:

Consider copying a .gitignore into the drupal git repo root so that the special directories are ignored and we don't accidentally generate bad patches.

This also affects `git status` commands though that is mitigated by `git status -uno`.

## What you expect to happen:

Shouldn't see vendor, settings.php, services.yml, .c9/, .idea/, .vscode/, etc... when

The packaging script

[2018-03-05 14:08] mradcliffe opened #5 "Packaging script adds Brian's irc/ide containers into drupal8/.ddev"
## Feature Request:

Brian has extra containers as part of the feature set from dev desktop of including an editor, irc client, etc...

New contributors who do not have an IDE or preferred editor are able to have a nice experience editing files and getting on IRC. We still have and support IRC users (#drupal-contribute has core contributors actively using it to discuss and collaborate), but we are

[2018-03-05 14:09] mradcliffe commented on #5
I think the main complexity here is the implementation of either modifying the ddev_images tarball to keep all images in the same place.

[2018-03-05 14:41] mradcliffe opened #6 "import-db failed on Windows 10 Pro, Docker ToolBox"
**Note that this can be closed if not doing database imports per #3.**

## What happened (or feature request):

Running ddev_start.cmd, the import-db command failed to install the database because it couldn't find the sql file.

1. Using Docker QuickStart Terminal (i.e. Git Bash)
[code]

PowerShell wasn't an option to test here because docker commands can only be run in Docker QuickStart Terminal

[2018-03-05 18:27] rfay commented on #6
The biggest problem is that docker toolbox doesn't yet work and may not. It's absolutely not supported at this time.

[2018-03-05 18:29] rfay commented on #5
I don't think the ddev_docker_images tarball has to be the only tarball. There can be more than one. The ddev_docker_images tarball comes from the build process on Circle. The images for other things can come from elsewhere.

[2018-03-05 18:32] rfay commented on #1
Ah shoot, lots of things don't work with network paths.  Nothing works in CMD. I think we've seen this before when people tried to use a home directory that was in a network path.

[2018-03-06 19:57] rfay commented on #6
I'm closing this for now, as we have an open issue for support of Docker Toolbox, https://github.com/drud/ddev/issues/636

[2018-03-06 19:57] #6 closed, assigned to nobody

[2018-03-06 20:15] rfay commented on #2
This is absolutely necessary, of course. PR is sure welcome.

[2018-03-07 14:10] mradcliffe commented on #3
Consensus so far from mentors is that there is less value in an user going through the Drupal installer.

The database dump'll need to be generated at package time so that it is as up-to-date as possible.

This also means that drud/quicksprint #6 and [drud/ddev #636](https://github.com/drud/ddev/issues/636) are going to be blockers.

[2018-03-07 14:10] #3 closed, assigned to nobody

[2018-03-07 14:18] mradcliffe opened #7 "Feature - generate database dump in packaging script"
The database dump should be as up-to-date as possible with the latest Drupal core branch development so that there are no entity or database updates necessary. Core development in pre-release (pre-alpha) may have entity schema changes that are not stable or experimental.

Something like `ddev exec drush sql-dump --gzip --result-file=/some/path/to/dump.sql` or something? result-file probably needs

[2018-03-07 16:45] rfay commented on #7
Good point, makes sense. Maybe the builder script should do a drush si and dump the result.

[2018-03-10 19:50] rickmanelius commented on #4
Hi @mradcliffe. It looks like example.gitignore doesn't include everything you're mentioning. Perhaps we can `cat  ./idea >>` and others as well. Overall a 👍

[2018-03-10 19:59] mradcliffe commented on #4
Here's what I've been using so far:

[code]

[2018-03-10 21:49] rickmanelius opened #10 "Move build to Travis/Circle CI? Releases?"
This is a stub. While this can be run locally to build out the assets, what about tying this to CircleCI where people can then download assets there? What about releases against this project?

This is not urgent. I'm chatting with @mradcliffe and I think this might be a good mechanism once we have determined if this repo is going to be used longterm.

[2018-03-10 21:52] rickmanelius commented on #5
A question that was raised while sitting with @mradcliffe at Midcamp. We are not presuming this repo to be the source of truth and we've reached out to @briangilbert to see if it makes sense to pull in any his work here or have this work pulled out to his repo. Just noting this as something while we keep working in this sandbox! And that might affect whether or not we proceed here. @mradcliffe loo

[2018-03-11 14:52] mradcliffe commented on #5
Brian mentioned on 2018.03.11 that probably not this repo, but he wanted to catch up in the morning (2018.03.12 for him) and talk further. So that's probably around 15:00 CST 2018.03.11.

[2018-03-11 19:42] BrianGilbert commented on #5
I'm happy to contribute here, After talking to @rfay it seems like a fair bit of what I have been working on is already done here..  there are some pretty big savings in file size that can be made though.. I will open a separate ticket about that.

[2018-03-11 20:25] rickmanelius commented on #5
Excellent! Ultimately, whatever helps set us best up for Drupalcon NA is what works for me. If this needs to have a separate home after, more than open to discuss what makes sense.

[2018-03-13 14:56] cyberswat opened #13 "Support TYPO3 cms on quicksprint"
We have had requests to support TYPO3 in addition to the default drupal 8.  This request would also apply to the other CMSs supported by DDEV, but we've been asked about TYPO3 first.

[2018-03-13 14:58] horncologne commented on #13
TYPO3 CMS core team is getting together 2018.Mar.15 for a sprint. They can get people up to speed using the T3C quickstart docs, which were recently updated. Can we make Sprint-in-a-pocket USB installation stick for TYPO3 CMS happen in time?

[2018-03-13 15:03] rfay commented on #13
Wonderful! Might be able to do it.

[2018-03-13 15:19] rfay commented on #13
I assume you'd want latest TYPO3 checked out to start?

core team probably has different requirements from a normal public sprint, where people are just learning about everything.

The reality the existing package would probably do the job with dev pros like that, it just does a bit more than you need by preparing a drupal install. I'll take a look.

[2018-03-13 16:00] horncologne commented on #13
Thanks, @rfay. I'm hooking you up with a sprint lead in T3 Slack ...

[2018-03-13 17:01] rfay commented on #13
Discussion in slack discovered that this is not needed for the core sprint this week, which has just 10 people. DevDays this summer will be a better candidate. So this can hibernate for a while.

[2018-03-13 17:03] rickmanelius commented on #13
Perfect. That certainly helps scope/prioritize things a bit. For 10 individuals, it should be pretty easy to simply walk through the installation and quick start guides as long as bandwidth isn't an issue. Thanks for helping, @rfay!

[2018-03-13 17:10] rfay commented on #5
Just responding to the title here "Packaging script adds Brian's irc/ide containers into drupal8/.ddev" - we would *not* want to put any containers into .ddev; we load them into docker via `docker load`. Additional images can be added to a new tarball of images, and loaded (optionally?) on install.

[2018-03-14 12:34] mradcliffe commented on #13
I think it makes sense at this point to move packaging script to a scripts directory, and then have one named for each CMS/project.

Then CI/manual packager can package releases for various sprint tools needed for sprint leads of different CMSes? For instance in Travis, we could add the following.

[code]

There probably is an equivalent thing in Circle.

[2018-03-14 12:37] mradcliffe commented on #2
Issue resolved.

[2018-03-14 12:37] #2 closed, assigned to nobody

[2018-03-14 15:34] rfay commented on #13
Works for me @mradcliffe . However, we will now be able to let the Drupal version mature for a bit before doing anything more.

[2018-03-22 22:03] mradcliffe commented on #7
Closing. Brian implemented this.

[2018-03-22 22:03] #7 closed, assigned to nobody

[2018-04-04 14:30] mradcliffe commented on #5
This was completed in #12

[2018-04-04 14:30] #5 closed, assigned to nobody

[2018-04-04 14:30] mradcliffe commented on #4
Fixed in #18 and #9

[2018-04-04 14:30] #4 closed, assigned to nobody

[2018-04-04 22:19] BrianGilbert commented on #10
If we can make it build the archives generated by package_drupal_sprint script and create the release with them linked, that would save me the hassle of trying to upload it from Australia

[2018-04-05 05:25] rickmanelius opened #21 "v0.0.5 Review"
Might as well do a deep dive review akin to how we review/release ddev itself. See https://github.com/drud/ddev/issues/746.

Initial AC might be:

* Completely working D8 site spin up from nothing (no docker, no ddev) on the following:
  * [ ] macOS High Sierra
  * [ ] Windows 10 Pro
  * [ ] Ubuntu 16.04

[2018-04-05 06:12] rickmanelius commented on #21
# Testing

Performed by Rick Manelius as of 2018-04-04

## macOS

### Hardware Setup

I’m using a laptop with the following high-level specifications:

* MacBook Pro: Retina 15-inch Mid 2015
* 2.2 Ghz Intel Core i7
* 16 GB 1600 MHz DDR3 RAM
* 250 GB Hard Drive

### Software Setup

* macOS Sierra 10.12.4
* Xcode
* Git 2.14.3
* Note that I specifically removed all traces of `go`, `ddev`

### Prepara

[2018-04-05 06:17] rickmanelius commented on #21
Also noting that 17.09.1-ce-mac42 is installed whereas 18.03 has felt more stable from my testing.

[2018-04-05 07:54] webchick opened #22 "Add some kind of output to package_drupal_script.sh"
I typed ./package_drupal_script.sh a few minutes ago and it's still sitting there. I hope it's ok. :) It would be awesome if there was like a percent completion / progress bar kinda thingy to help assuage my anxiety. :D

[2018-04-05 07:56] webchick commented on #22
Ok, the script ran, but no idea what next (I'm sure it's in the docs, which is my next stop). It would also be nice at the end here to have a user-friendly "Such and such thing happened successfully. Now go and $next_step."

[2018-04-05 08:04] webchick opened #23 "Improve error handling for PEBCAK"
Continuing my blindly blundering around (hey, you wanted a realistic user test of a sprint attendee, right? :D)

After I couldn't figure out what to do after running package_drupal_script.sh (see #22), I read through SPRINTUSER_README.md  which talked about running ./install_ddev.sh, which I noticed is in my quicksprint directory. So I did!

Output:

[code]

So basically, lots of things catastroph

[2018-04-05 08:08] webchick opened #24 "Update README.md to reflect project's multiple audiences"
I think the problems I encountered (#22, #23) could both have been mitigated had the README.md on the project page been something like:

---

## For sprint mentors

blah blah stuff and things.

## For sprint attendees

blah blah other stuff and things.

---

Because from what I'm gathering, this repo is only for the people running a sprint; the "consumers" of a sprint are supposed to start from a

[2018-04-05 13:52] mradcliffe commented on #10
We would need to split the releases into MacOS, Windows and Linux versions since GitHub's Release API will fail if you upload more than 1gb (it kind of works).

[2018-04-05 14:15] rfay commented on #24
Just FYI, the README.md and package_drupal_script.sh are only for mantainers creating a release. A normal sprint user would read the SPRINTUSER_README.md, which is in the package in the release.

Suggestions about how to make the README.md better focus on the maintainer are welcome. Note that the README is *not* included in the release, because a sprint user doesn't need to know that stuff.

[2018-04-05 14:19] rfay commented on #21
Yeah, the install should be 18.03. If updating the docker installs, it would be great to add the version of the install into the filename, so one doesn't have to install it to find out what version it is.

[2018-04-05 14:22] rfay commented on #24
Let's change the README.md to MAINTAINER_README.md as a first step!

[2018-04-05 14:57] rfay commented on #24
Hoping #25 fixes your good comments @webchick  - Would appreciate your review.

[2018-04-05 15:55] dsquaredb commented on #21
# Testing

Performed by Danita Bowman as of 2018-04-05

## Hardware Setup

I’m using a laptop with the following specifications:

MacBook Pro: Retina 15-inch Mid 2015

- 2.8 Ghz Intel Core i7
- 16 GB 1600 MHz DDR3 RAM
-  macOS Sierra 10.12.6
- Docker v18.03.0-ce-mac58

## Preparation

Cleanup

Ran the following commands:
-     brew uninstall ddev
-     brew uninstall -force ddev
( I was prompted t

[2018-04-05 16:03] rickmanelius commented on #21
I just talked with @rfay. It's likely that I broke something when removing Docker for Mac and it not happening cleanly, which may be why the ddev binary wasn't install.

[2018-04-05 16:06] rfay opened #26 "Scripts need error checking"
All of the user-oriented scripts (start_ddev, start_sprint, start_clean) need error checking so they don't continue on when an error is encountered.

[code]

Maybe more.

[2018-04-05 16:18] rfay opened #27 "SPRINTUSER_README.md needs to explain how to run shell scripts (make sure executable)"
Not everybody knows how to run a shell script (or windows cmd script);

* We need to verify that the instructions tell people what to do that works in each situation.
* If the scripts are not being packaged with the executable bit set, they need to be fixed up so that''s the case.

[2018-04-05 17:34] rfay opened #28 "drupal_sprint_package.tar.gz/.zip should have the release version in the filename."
When you download a sprint package, it's important to be able to know what release version is in it. So we should be creating drupal_sprint_package.v0.0.5.tar.gz and .zip, for example.

[2018-04-05 19:18] rfay commented on #27
Hmm, all the scripts are executable for me, not sure what the issue was here. Closing this.

[2018-04-05 19:18] #27 closed, assigned to nobody

[2018-04-05 19:44] rfay opened #29 "install_ddev.cmd and install_ddev.sh: Press Y, Press any key"
The install_ddev.cmd and install_ddev.sh say

[code]

Why that seems like pretty contradictory instructions. I don't know *what* to do.

Is it going to docker install on me? When? (Turns out it asks later, but this is pretty confusing"

[2018-04-05 19:49] rfay opened #30 "install_ddev.cmd fails to run docker install (and doesn't). Must run docker, not just install."
Multiple problems with the install_ddev.cmd and the docker version:

* The install_ddev.cmd fails to find the right docker version (see screenshot)
* The actual provided docker-ce version is 17.09.0, we should be shipping 18.03.0 (#31 - problem on both windows and mac)
* docker must be running for the next step (the ddev installation fails without it). So just installing docker (on windows) is not

[2018-04-05 20:20] rfay commented on #26
For example. install_ddev.sh with docker not running results in:

[code]

[2018-04-05 20:29] rfay opened #31 "Windows and mac docker versions are not current"
Both Windows and Mac docker_installs provide docker 17.09, not the current recommended 18.03. Please update to the current version. As noted elsewhere,
* please name the install to contain the version number
* Remove any spaces in the names (makes scripting far better and easier)

The best place to get the docker-for-mac and docker-for-windows releases is on their release notes pages, for example

[2018-04-05 21:15] BrianGilbert commented on #21
@rfay I can't see any way top programatically set the docker install file name with the version.. it's not part of the URL, will have to manually change it every time it's updated..?

[2018-04-05 21:23] rfay commented on #21
@BrianGilbert Please use a $DOCKER_VERSION environment variable and then just inject that into the destination filename. WIth curl I think you would use -O

[2018-04-05 22:13] lglynn2299 commented on #21
Performed by Leslie Glynn on 2018-04-05

**Hardware Setup**
I’m using a laptop with the following specifications:
MacBook Pro (15-inch, 2017)
2.8 GHz Intel Core i7
16 GB 2133 MHz LPDDR3
macOS Sierra 10.13.3

**Environment**
As a freelancer I have lots of development environments installed for various clients:  vagrant machine running on virtualbox, docksal with docker, mamp, etc.
Docker was instal

[2018-04-05 22:51] rfay commented on #21
I think there was something wrong with the packaged docker install for macos. I couldn't get it to work at all either.

[2018-04-05 22:57] BrianGilbert commented on #21
I think I will remove the docker installers from quicksprint, and include them in a separate folder of what is supplied for a drupalcon sprint.

[2018-04-05 23:26] #24 closed, assigned to nobody

[2018-04-06 00:20] BrianGilbert commented on #31
I'm using the most current versions linked on the Docker website
[code]
https://docs.docker.com/docker-for-mac/release-notes/
https://docs.docker.com/docker-for-windows/release-notes/

Addressing the dot points though..

[2018-04-06 00:40] BrianGilbert commented on #30
@rickmanelius had you previously run the packaging script and not deleted the stuff in tmp before updating it yesterday?

[2018-04-06 04:02] rfay commented on #30
This was on a windows machine; the packaging script can't be run on Windows, so I don't think that's a problem. The script having trouble here is install_ddev.cmd - on WIndows.

[2018-04-06 04:04] BrianGilbert commented on #30
@rfay yes, but if Rick did what I asked when he created the release yesterday it would have kept the old version of docker installers that had been downloaded, causing the version discrepencies

[2018-04-06 04:05] rfay commented on #31
Yeah, 23751 (mac) is correct to download, but it not what was in the package in v0.0.5.

I do think that if the packaging script were run against an existing directory, it would have respected old docker stuff that was there, but I don't think @rickmanelius  had ever done that before last night.

[2018-04-06 04:06] rfay commented on #31
The key point is: Build it and make sure it has the right stuff inside.

[2018-04-06 04:06] rfay commented on #31
Also, the script shouldn't be installing docker. Make people do that, and start docker. It will never turn out right, I don't think, if the script tries to do it.

[2018-04-06 04:07] BrianGilbert commented on #31
I know it does as the version of Docker I have installed locally was done by the script.. and it's 18.03.0-ce-mac60 (23751)

[2018-04-06 04:07] BrianGilbert commented on #31
@Rfay, perhaps you should look at the open PR :)

[2018-04-06 04:08] rfay commented on #30
You were probably asking the question in the wrong issue I guess @BrianGilbert  - This issue is about failures of the windows install script.

[2018-04-06 04:10] BrianGilbert commented on #30
@rfay yes, I'm aware.. but the provided version of docker is based on what happened when the package script was run.

[2018-04-06 16:46] rfay commented on #31
I confirm that this is fixed for both macOS and windows in #32

[2018-04-08 01:49] BrianGilbert commented on #31
Suspect this was a packaging error

[2018-04-08 01:49] #31 closed, assigned to nobody

[2018-04-08 01:49] BrianGilbert commented on #30
Docker installation removed, user needs to manually install it now, packaging script has option to include installed when building artifact.

[2018-04-08 01:49] #30 closed, assigned to nobody

[2018-04-08 01:50] BrianGilbert commented on #21
Reports addressed with PR for 0.0.6

[2018-04-08 01:50] #21 closed, assigned to rickmanelius

[2018-04-08 01:51] BrianGilbert commented on #26
Now checks that docker is runnnig or exits with message.

[2018-04-08 01:51] #26 closed, assigned to nobody

[2018-04-08 01:52] BrianGilbert commented on #29
Fixed text to say pres anything else to exit, and report out what you did.

[2018-04-08 01:52] #29 closed, assigned to nobody

[2018-04-08 01:52] BrianGilbert commented on #28
done

[2018-04-08 01:52] #28 closed, assigned to nobody

[2018-04-08 01:53] BrianGilbert commented on #23
Hi @webchick I believe the package for the release you were testing had issues, just in the process of packaging up 0.0.6 that has a lot of improvements.

[2018-04-08 01:53] #23 closed, assigned to nobody

[2018-04-08 01:54] BrianGilbert commented on #22
Added check for docker running, and more output during creation of packages.

[2018-04-08 01:54] #22 closed, assigned to nobody

[2018-04-08 02:12] BrianGilbert opened #34 "start_clean.sh exits instead of continuing."

[2018-04-08 02:56] BrianGilbert opened #36 "Prompt about sharing local drive in Windows Docker setup."
@rfay mentioned this requirement on slack

[2018-04-08 03:21] BrianGilbert opened #38 "Prompt user to enter real name field in The Lounge"

[2018-04-08 03:30] #34 closed, assigned to nobody

[2018-04-08 19:43] BrianGilbert commented on #38
changed pre-filled text to something that prompts user to enter something

[2018-04-08 19:43] #38 closed, assigned to nobody

[2018-04-08 19:43] BrianGilbert commented on #36
Now parts of steps echoed to user

[2018-04-08 19:43] #36 closed, assigned to nobody

[2018-04-08 22:07] geerlingguy opened #40 "Windows 10 Pro sprint user installation testing - second attempt"
After 0.0.6 (plus 3 commits, at `c1b1ebe`), I ran the `./package_drupal_script.sh` script on my Mac, then copied the resulting `.zip` file over to my PC (it was ~600 MB; I didn't include the Docker installers).

I then did the following:

  1. I reset my local environment after yesterday's tests:
    1. Tried deleting my old `drupal_sprint_package` directory, but it seems the directory `C:\Users\j

[2018-04-08 22:09] geerlingguy commented on #40
Hmm. If I open the `install_ddev.cmd` file in Notepad, it's showing all the lines run together... maybe running the packaging script on the Mac resulted in the `.cmd` files having Unix line endings?

<img width="875" alt="screen shot 2018-04-08 at 5 08 58 pm" src="https://user-images.githubusercontent.com/481677/38473088-8bd52e1a-3b4f-11e8-8975-ce6585a0437a.png">

Also: The `start_sprint.cmd` file

[2018-04-08 22:13] geerlingguy commented on #40
I manually grabbed the contents of `install_ddev.cmd` from master on GitHub and pasted them into the cmd file with proper line endings in Windows (note that this might not have been the actual issue though)—I then realized the script exited during this section:

[code]

It seems it isn't seeing Docker... even though Docker for Windows is/was running.

[2018-04-08 22:14] geerlingguy commented on #40
If I remove that section from the `install_ddev.cmd`, and run it again, pressing `y` at the first prompt, then it works—I'm seeing new files inside the `~/Sites/sprint` directory.

[2018-04-08 22:23] geerlingguy commented on #40
I'm going to have to give up on this run for now. Might be able to try one more time tonight or tomorrow though.

[2018-04-09 01:57] joelpittet opened #41 "Golang Panic from "sudo ddev hostname""
[code]

[2018-04-09 01:57] florisvangeel opened #42 "Breaks when user has mysql already in the system"
when running: start_clean.sh or start_sprint.sh
[code]
have mariadb running from homebrew on socket.

[2018-04-09 02:01] joelpittet opened #43 "Replace 'Press y to continue' with a more common shell script pattern"
While running we found several times where we wanted to continue that y or anything pattern caught us up.

I'd propose only responding to y or n, or provide the logical default for enter to be y, then you don't need the disclaimer yelling at you for not doing it "right"

[2018-04-09 03:11] rfay commented on #42
Port 80 is a result of a webserver, not mysql, but the problem is real when somebody has something running on port 80. It's also an easy fix, with the URL given in the error message.

[2018-04-09 03:16] rfay commented on #43
I certainly agree, this is pretty unnatural. Just a Y/n accepting an ENTER would be more natural.

[2018-04-09 03:22] rfay commented on #41
@joelpittet it looks to me like maybe you didn't succeed entering the sudo password? Do you remember what happened right there? Do you have full sudo privileges? I'm pretty sure this looks like a legitimate ddev bug that hasn't ever been reported before. My bet is that if you do it again it will work. But just try `sudo ls` first, and if that works, this will probably work the next time you do it.

[2018-04-09 03:26] joelpittet commented on #41
Thanks Randy!

That's new to me... (fresh computer with encrypted disk).  I should probably check why I can't sudo.

[2018-04-09 03:27] rfay commented on #41
Your error report is very much appreciated, I wrote it up on the ddev issue queue, https://github.com/drud/ddev/issues/780 - I'm sure it will be an easy fix.

[2018-04-09 03:27] rfay commented on #41
If you don't mind I'm going to close this one, but we'll fix it in https://github.com/drud/ddev/issues/780

[2018-04-09 03:27] #41 closed, assigned to nobody

[2018-04-09 15:45] joelpittet commented on #42
Maybe it's worth putting this on non-standard ports to avoid this conflict at the sprint?

[2018-04-09 15:46] rfay commented on #42
That is worth considering.

[2018-04-09 15:54] liberatr commented on #42
I am having an issue where I have some php-fpm listening on port 9000:

I also think it would be good to add to those instructions, something about re-running the script after you change the config file, just to make it dead-easy for sprinters.

[2018-04-09 15:58] liberatr commented on #42
So homebrew had started php-fpm. The solution for me was:
`brew services stop php70`
That command could be different if you have php56 or php71 or something.
You can check with `brew services list`.

[2018-04-09 16:05] rfay opened #44 "Move theLounge to a less-likely port"
Port 9000 is likely to have lots of conflicts, so not a good port for theLounge; How about port 9999?

Both xdebug and php-fpm both use port 9000 by default

[2018-04-09 19:47] BrianGilbert commented on #42
@liberatr Just pushed a PR to move the IRC to 9999 instead

@rfay is there any way for us to change the web and db ports if we're not packaging the ddev docker-compose.yaml ?

[2018-04-09 19:48] BrianGilbert commented on #43
PR merged for this

[2018-04-09 19:48] #43 closed, assigned to nobody

[2018-04-09 20:18] rfay commented on #42
Ports are changed in the config.yaml, not docker-compose. The link in the error message explains it. https://ddev.readthedocs.io/en/latest/users/troubleshooting/#unable-listen

[2018-04-09 21:47] torenware opened #49 "On MacOS, start-clean.sh dies in ddev start"
I'm running the DrupalConNA version of the quickstart tarball (release 0.4 I believe).  The install procedure from the MD file works until we get to running ./start-clean.sh for the project.  Looks like we're dying in "ddev start", failing like this:

[code]

ddev is completely opaque as to what's going on here; there's no log of any kind.  Docker containers, however, are currently running:

[code

[2018-04-09 21:59] rfay commented on #49
You have a version of ddev at least two versions ago... How is that happening? This has been fixed since v0.16.0.

[2018-04-09 22:02] torenware commented on #49
Apparently there are emails with stale links floating around. I found this link maybe two days ago.  I'll look for a newer release and try that.

Is there a link you're using for the sprints, since what's pointed to by that will be the one that gets downloaded.  Also: I'd try getting it directly via git clone, but it looks like there's some kind of build process required before the sprint instruct

[2018-04-09 22:30] torenware commented on #49
@rfay -- do you have a link directing sprinters to do the download. I just cloned release v0.0.6.  If I just naively run ./install-ddev.sh, I get the error:

[code]
Clearly, something needs to download or build those tarballs.  So either the instructions are incomplete for the sprinters, or I'm not downloading the right object.  What do I want to be downloading to test this?

[2018-04-09 22:50] torenware commented on #49
For purposes of testing, I'm pulling tag v0.0.6 and running package_drupal_script.sh, on the assumption that the resulting build will give me what we're giving to sprinters. Would still like to download from whatever link we're actually giving to sprinters, since we're likely not going to want them to do what I'm doing here.

[2018-04-09 22:52] rfay commented on #49
You're doing the right thing, but make sure you've killed off your own ddev before testing.

When you build, please look at the ddev in the package to make sure it's v0.17.0

I'll be building it shortly as well.

[2018-04-09 22:57] torenware commented on #49
Should be dead, dead, dead.  The tarball directory was blown away, and I removed any lingering containers (docker container stop $(docker container ls -q); docker container prune).  The build process just completed.  Notices that it might "take awhile" are accurate :-)

[2018-04-09 23:01] rfay commented on #49
I run package_drupal_script.sh with `bash -x package_drupal_script.sh` so I can at least know that it's doing something. Probably a `set -x` at the top of that one would help everybody that has to do it.

[2018-04-09 23:17] torenware commented on #49
OK, reading the script clarifies part of the problem. The package gets built into ~/tmp, not into the cloned directory.  I'll see if that object installs appropriately.

[2018-04-09 23:34] rfay commented on #49
I should also have mentioned that v0.0.6 of this didn't ever fully work, which is why no packages got pushed up there, so it would help more if you'd test master, or a particular commit on master. Maybe we'll be closer before too long.

[2018-04-09 23:49] torenware commented on #49
Happy to test master.  BTW: what state should ./start-clean.sh get the user?  The script did not actually start the containers.  I ran ddev start, and the containers all started, but drupal is not actually installed. It isn't clear what passwords would be required for the DB (I'd probably need to dig to see if there's a docker-compose.yaml file buried somewhere).  If this is the case, the sprinter

[2018-04-09 23:53] rfay commented on #49
DB passwords: `ddev describe`

I'm still a little confused by start_clean.sh but think it should result in a running project.

[2018-04-09 23:54] rfay commented on #49
Oh and BTW, master doesn't currently work. Just tried.

[2018-04-10 00:00] torenware commented on #49
:-(  Yeah, start_clean.sh don't do dat

I'm working with the package as built in v0.0.6.  Running start_clean.sh is not the ticket. But if you run the commands in the heart of the file, you do end up with a working install:

[code]

I'm guessing that one of the error screening lines of the script terminates things prematurely, at least before `drush si` runs.

[2018-04-10 00:30] torenware commented on #49
There's a problem at `ddev remove...`.  If the project is not running -- and it won't be when you first run the script -- `ddev remove` will return an error, and the script aborts.  We can certainly handle the error, but I'm not sure that's correct behavior if ddev is not running, but the project has  been built and should be blown away.  But simply handling the error by doing `ddev remove || echo

[2018-04-10 00:31] rfay commented on #49
That was already done in a later commit.
However, the `ddev remove` is superfluous only.

It would be great if you'd move on from v0.0.6

[2018-04-10 00:31] torenware commented on #49
Is master healthier?

[2018-04-10 00:33] rfay commented on #49
Yes, but I'm testing https://github.com/drud/quicksprint/pull/46, which is master plus a couple of commits for windows.

I guess I'll try to get a circleci build together tonight; that way we can have a build for every one of these for testing.

[2018-04-10 00:39] rfay commented on #49
And @torenware I want to thank you for your enthusiasm to test this. I'm frustrated that it's maturing so slowly and so late. But we'll get there.

[2018-04-10 01:09] torenware commented on #49
@rfay -- NP. Yeah, I feel your pain here, since I'd guess you'd rather be drinking beer and listening to bluegrass out there, rather than chase source ghosts :-)  BTW: Just built master and run it. Runs fine on MacOS AFAICT.  We might want to make the script a little more talkative during its progress, since it posts URLs to go to before composer is done composing and the drush install is done ins

[2018-04-10 02:18] rfay commented on #49
Nice, thanks! Working on better ways to do this and hopefully it can soon stabilize, and hope you can give it another run.

WHen you don't have to build the main package it is *way* easier to test. But there is the download...

[2018-04-10 02:23] torenware commented on #49
Building it for me isn't overhard. I used to set up tests for Rules/D8. Now *that* was hard.

Sorry I'm not set up for Windows testing, which I'm guessing is also going to be an issue. I'm not sure how long it takes to set up CircleCI or Travis for this, but it might be worth it, even though we're only a few days shy of Friday.

Ping me when you want me to give it another go.

[2018-04-10 02:27] torenware commented on #49
Ah, I see #50. We're getting there.

[2018-04-10 04:43] BrianGilbert commented on #42
@rfay whats the key to change the DB listening port? That page only lists http server and I can't find any mention of how to in the rest of docs when searching for mysql.

[2018-04-10 04:44] rfay commented on #42
The mysql port is a transient port, not fixed, so doesn't matter.

[2018-04-10 05:31] torenware opened #53 "Version of phpunit is too old"
The sprint oriented setup uses PHP 7.2 and Drupal 8.6.x-dev, but the version of phpunit bundled with it is only PHPUnit 4.8.36.  This version of phpunit will not run in this configuration.

I'm a little behind on changes in how composer builds things currently, but we need to goose this.

[2018-04-10 07:06] torenware commented on #53
I'm looking for documentation as to how composer to *force* the installation of phpunit ^6.1.  Looking at core/composer.json, it looks like there is nothing there that would do that if we are running PHP 7.2.

Do we really *need* to run PHP 7.2 for the sprint?  It appears to be simple to knock the PHP version down to 7.1 (it's a configuration line in sprint/.ddev/config.yaml), which would make the

[2018-04-10 07:46] torenware commented on #53
Looks like reducing PHP version will not help here. Is there any way we can configure drud so that it calls:
[code]
This appears to be required if you want to use PHP 7 and phpunit. Which, of course, we do.

[2018-04-10 12:28] rfay commented on #53
When is drupal-phpunit-upgrade available? Where does it come from? just a dev build of drupal8 composer install, or what? We run composer twice, once during the build, and a finish-up during bringing up the project. So a `ddev exec composer run-script drupal-phpunit-upgrade` would do this in the latter situation (just grep for "ddev exec" to see the other things that are being done that way.

[2018-04-10 15:25] #42 closed, assigned to nobody

[2018-04-10 15:39] rfay commented on #53
I want to draw your attention to the phantomjs install referenced in https://github.com/drud/ddev/issues/723#issuecomment-374044739 - The last time I tried the script referenced there I had no trouble at all, would be interested to know what is important there and what can be improved.

[2018-04-10 16:39] nearlythere commented on #49
@torenware Interloping on your thread here. You mentioned `Apparently there are emails with stale links floating around` - Eek!

I am working on improving release communications with the DDEV Newsletter. We're going to get these out on the day of release, so you're the first to know. You can see the latest [here](https://mailchi.mp/8636017d45e5/ddev-local-v017-release-ddev-news) and subscribe (if

[2018-04-10 19:18] torenware commented on #53
I did a bit of digging in the source.  The script drupal-phpunit-upgrade is defined in core/composer.json, and maps to "@composer update phpunit/phpunit --with-dependencies --no-progress”.  The version test is also defined there; the code is in Drupal\\Core\\Composer\\Composer::upgradePHPUnit, and is just a version test of PHP and phpunit.

The error messages are posted here:

[code]

My guess is

[2018-04-10 19:21] torenware commented on #53
I’ll give it a look.

[2018-04-10 19:41] geerlingguy commented on #40
New artifacts built by CircleCI available for testing: https://circleci.com/gh/drud/quicksprint/40#artifacts/containers/0 — I'm going to test again this evening after I'm back at my hotel.

[2018-04-10 20:09] rfay commented on #53
So nothing like drupal-phpunit-upgrade exists anywhere in the codebase (d8 with a composer install). However, it's possible to do the `composer update phpunit/phpunit --with-dependencies --no-progress`  But it changes loads and loads of things, by major version changes. `  - Updating phpunit/phpunit (4.8.36 => 6.5.8): Downloading (100%)`

I guess it's important to figure out the authoritative answ

[2018-04-10 20:14] mradcliffe commented on #53
8.6.x has the following in [composer.json](https://cgit.drupalcode.org/drupal/tree/composer.json), @rfay
[code]

[2018-04-10 20:16] rfay commented on #53
I'm fine with composer.json having that... but that's not what we have on a `composer install`:

[code]

[2018-04-10 20:16] mradcliffe commented on #10
This is done and can be closed.

[2018-04-10 20:17] rfay commented on #10
Closing, we'll do even more with it in the future.

[2018-04-10 20:17] #10 closed, assigned to nobody

[2018-04-10 20:19] mradcliffe commented on #53
Right, it's not a default. It requires that extra `composer drupal-phpunit-upgrade` command.

[2018-04-10 20:27] torenware commented on #53
Yeah, it’s just an alias for a native composer command.  The version test probably could be done w/o reference to the Drupal source, although I don’t see why we’d need to do that.

Certainly.

Although any developer who’s using PHP 7+ and doing testing needs to have PHPUnit v. 6 available, and any dependencies tied to v. 6 would also be installed on those systems.  PHP 5.x is still (theoretically)

[2018-04-10 20:31] rfay commented on #53
I think the right answer to this: If people are going to run phpunit, they need to run the command. They would just do `ddev exec composer update phpunit/phpunit --with-dependencies --no-progress` - Or optionally they could `ddev ssh` and do it.

[2018-04-10 20:33] torenware commented on #53
Don’t think so. That command is simply an alias to a command from phpunit itself.  So composer will find the needed command based upon phpunit being in vendor/, w/o any need to reference drupal. We just run

`composer update phpunit/phpunit --with-dependencies --no-progress`

directly.

[2018-04-10 21:21] torenware commented on #53
This is going to make the Ghost of Werner Heisenberg weep.

The perversity here is that nothing gets into core w/o tests passing, and the modifications made by upgrading phpunit are in the version of Drupal that pass those tests.

It’s also true that the version of Drupal that is deployed in the wild mostly does *not* have those modification.

I’m not suggesting we must necessarily preinstall phpu

[2018-04-10 21:43] #44 closed, assigned to nobody

[2018-04-10 23:02] geerlingguy commented on #40
Latest: https://circleci.com/gh/drud/quicksprint/48#artifacts/containers/0 (will be in the official 0.1.0 release). Testing it now!

[2018-04-10 23:31] geerlingguy commented on #40
Testing the release attached to the above CI run, and so far everything's working great on Windows 10. Didn't even have to right click anything and run as administrator.

**One thing that wasn't obvious**: Step 6 in the sprint user readme says to run the "start_clean" command, but I didn't really see any kind of "start_clean" command. Eventually I figured out that the `start_sprint.cmd` that I had

[2018-04-10 23:40] geerlingguy opened #55 "Windows PowerShell shows many characters like [33m and [0m when running the start_clean.cmd"
See screenshot:

![image](https://user-images.githubusercontent.com/481677/38589082-b4439e54-3cee-11e8-95e3-6ceefcd0cdda.png)

(I didn't see an open issue for this, but thought I'd bring it up.)

[2018-04-10 23:41] geerlingguy commented on #55
I have not tested whether this is the case also in Cmder, or if it's just PowerShell. But maybe just disable colors in the console if it's on Windows?

[2018-04-10 23:42] geerlingguy commented on #40
Yay, got this:

[code]

[2018-04-10 23:42] geerlingguy commented on #40
Opened related issue: https://github.com/drud/quicksprint/issues/55

[2018-04-10 23:47] geerlingguy commented on #55
Ah, this is actually a ddev thing—see https://github.com/drud/ddev/issues/363

[2018-04-11 01:16] mradcliffe commented on #53
The correct version of phpunit will be installed on whatever system you run composer install on so if we run composer install/drupal-phpunit-upgrade on a code base outside of the container, then most likely MacOS' php 5.6 will run and we'll get phpunit 4.8. If we run composer install/drupal-phpunit-upgrade manually in the IDE container, for instance, then it should update to phpunit 6 because it's

[2018-04-11 01:20] rfay commented on #53
OK, I'll take a look at that. Should be easy enough. We'll have to either require a php 7.2 on the build system (for the composer install) or build in a container. Probably we should build in a container.

[2018-04-11 02:21] rfay opened #58 "All docker images should have documented build"
The two extra images we're using (for IRC and Cloud9 editor) are just references to dockerhub. We need to make sure we have a way to recreate and update them the next time this comes up. Let's put the Dockerfiles into /images or some such.

[2018-04-11 02:31] torenware commented on #53
I do not believe this to be correct. I’m doing this on a Mac with php version 7.1.4, and it still installs phpunit 4.8.  I don’t think it’s a characteristic of the running copy of composer. I suspect it’s a result of how the dependency is defined:

"phpunit/phpunit": "^4.8.35 || ^6.1”

The problem is that phpunit 4.8.6 has the dependency:

"php": ">=5.3.3”

and phpunit 6.3 has the dependency

"php

[2018-04-11 02:35] rfay commented on #53
It's not just a matter of running php7.2, that's my result as well

I tried this with the official composer container, latest version (php 7.2):

`docker run --rm --interactive --tty     --volume $PWD:/app     --volume $SSH_AUTH_SOCK:/ssh-auth.sock     --volume /etc/passwd:/etc/passwd:ro     --volume /etc/group:/etc/group:ro     --user $(id -u):$(id -g)     --env SSH_AUTH_SOCK=/ssh-auth.sock     c

[2018-04-11 05:32] #40 closed, assigned to nobody

[2018-04-11 05:58] torenware commented on #53
I've confirmed that my conditions hack does NOT work.  You still get phpunit 4.x.  Looks like running the upgrader is the only thing that works.

[2018-04-13 03:37] rfay commented on #53
The d8 core issue seems to be https://www.drupal.org/project/drupal/issues/2932606

[2018-04-13 14:19] rfay opened #60 "sed version may not be predictable on macOS"
A sprint mentor (@youngblood) had homebrew-installed gnu-sed on his mac, which breaks start_sprint.sh.

We should check the version of sed (or force /usr/bin/sed) in there rather than checking the OS version.

[code]

[2018-04-13 23:19] BrianGilbert opened #61 "Remove IRC container"
I was originally directed to include this but given only 1 person at the First Time Sprinters workshop is known to have used it, it would be much more economical for them to use irccloud or https://webchat.freenode.net/

[2018-04-14 05:16] #58 closed, assigned to nobody

[2018-04-14 22:47] mradcliffe commented on #61
Agreed. https://drupal.org/chat shows new contributors how to connect to the various platforms.

[2018-07-21 18:56] rfay commented on #61
This was removed in https://github.com/drud/quicksprint/pull/62

[2018-07-21 18:56] #61 closed, assigned to nobody

[2018-07-21 18:57] rfay commented on #55
This was resolved in https://github.com/drud/ddev/pull/795

[2018-07-21 18:57] #55 closed, assigned to nobody

[2018-07-21 18:59] rfay opened #64 "Bundle Windows installer, Update instructions to use the installer"
Since ddev now has a Windows installer, there are a number of things that should be updated:

- [x] Bundle the Windows installer
- [x] Update docs to tell people to run the installer (instead of the cmd script)
- [x] Remove cmd installer scripts

[2018-07-21 19:00] rfay opened #65 "Update support info about Windows 10 Home"
Since ddev now supports Windows 10 Home with Docker Toolbox, the docs here need to point to how to do that.

[2018-07-21 19:02] rfay commented on #53
None of this seems to have had to do with quicksprint, so closing.

[2018-07-21 19:02] #53 closed, assigned to nobody

[2018-07-21 19:03] rfay commented on #1
This is obsolete now that we have a windows installer.

[2018-07-21 19:03] #1 closed, assigned to nobody

[2018-07-21 19:04] rfay commented on #49
As far as I can tell, this issue is stale, shouldn't be an issue any more. Closing.

[2018-07-21 19:04] #49 closed, assigned to nobody

[2018-07-21 22:44] mradcliffe opened #66 "Update config.yaml to correct version of bundled ddev using "ddev config""
Update config.yaml for ddev v1.0.0:

[code]

[2018-07-21 22:48] rfay commented on #66
It would probably be more sustainable just to run `ddev config` with args to update the config.yaml.

[2018-07-22 19:44] rfay opened #68 "Add macOS and Windows builds/tests"
This project would be much more robust with macOS and Windows builds/tests. We currently build on Linux, which is great, but if we could figure out how to run everything on the other platforms it would be a step forward. We're using buildkite for ddev tests on macOS, Win10Pro, Win10Home, we could do the same here.

[2018-08-15 13:50] rfay opened #72 "package builder builds (purported) with docker images if you say "no""
An option in the package builder is to include docker images or not include. However, if you say "n" - don't include docker images, you still get 4 different tarballs:

[code]

[2018-08-15 13:54] rfay opened #73 "docker 18.03 versions are wired into scripts"
18.03 is explicitly mentioned a number of places;  but v1.1.0 requires 18.06, and we probably want to figure out how to globally specify version or *something*.

[2018-08-15 14:05] rfay opened #74 "Rewrite/improve testing (test_drupal_quicksprint.sh doesn't actually work)"
As @mradcliffe pointed out, test_drupal_quicksprint.sh isn't actually working, and it's unclear how the build is passing despite that. See https://circleci.com/gh/drud/quicksprint/180 - the test clearly fails.

I'd like to redo this perhaps with [BATS](https://github.com/sstephenson/bats)

[2018-08-15 14:09] #66 closed, assigned to nobody

[2018-08-18 19:35] mradcliffe opened #76 "Rename install_ddev.sh to install.sh"
Follow-up from #75:

- Since install_ddev.sh doesn't necessarily install ddev it is probably best renamed as "install.sh".

[2018-08-18 19:38] mradcliffe opened #77 "Add echo statements to potential long-running commands"
Follow-up from #75,

* start_sprint.sh
   * `tar xpf sprint.tar.xz`
* start_clean.sh (or the equivalent commands in start_sprint.sh if it still exists)
   * `ddev exec git fetch`

[2018-08-18 22:58] rfay commented on #73
Fixed in #75

[2018-08-18 22:58] #73 closed, assigned to nobody

[2018-08-18 22:58] rfay commented on #74
Fixed in #75

[2018-08-18 22:58] #74 closed, assigned to nobody

[2018-08-18 22:59] rfay commented on #68
Fixed in #75 - we now have testing on macOS and docker toolbox and docker-for-windows.

[2018-08-18 22:59] #68 closed, assigned to nobody

[2018-08-18 23:00] rfay commented on #60
sed usage has been removed in #75

[2018-08-18 23:00] #60 closed, assigned to nobody

[2018-08-19 01:03] #65 closed, assigned to nobody

[2018-08-20 14:10] mradcliffe commented on #77
Both things are fixed now.

[2018-08-20 14:10] #77 closed, assigned to nobody

[2018-08-20 14:11] mradcliffe commented on #76
Fixed.

[2018-08-20 14:11] #76 closed, assigned to nobody

[2018-08-20 22:38] rfay commented on #72
Got this fixed in https://github.com/drud/quicksprint/pull/81

[2018-08-20 22:38] #72 closed, assigned to nobody

[2018-08-20 22:39] rfay commented on #64
The installer is now bundled, but I want to take a from-scratch go-through on this. I think this is the most important outstanding item (or experience) remaining before we do a release.

[2018-08-21 14:29] mradcliffe opened #83 "Git for Windows package gitconfig or tell the user what to do?"
If we bundle Git for Windows 2.18.0, then we would probably need to tell users the correct install options to make their lives easier when generating patches (or maybe ship a .gitconfig that specifies the correct behavior).

As I write this up, I think that it makes the most sense to configure the Drupal repository during package build, and then we don't need to worry about global preferences the

[2018-08-24 01:40] mradcliffe commented on #13
Probably the first step to take for this is to become familiar with the amazingly [TYPO3 Contribution Guide](https://docs.typo3.org/typo3cms/ContributionWorkflowGuide/Index.html) to identify things to automate (really big shout to those [contributors](https://github.com/TYPO3-Documentation/TYPO3CMS-Guide-ContributionWorkflow/graphs/contributors)).

1. [Setting up your git environment](https://docs

[2018-08-24 01:43] rfay commented on #13
nodejs and yarn are in fact in the web container.
Thanks for looking at this!

[2018-08-24 19:30] mradcliffe opened #91 "Windows versions string in install.sh should support 7, 8 in addition to 10"
We check for MINGW64-NT-10.0 but should also check for MINGW64-NT-6.3 (Win 8) and whatever the string is for Win 7 because Win 7 should work fine with Docker Toolbox.

[2018-08-24 19:34] mradcliffe commented on #91
Aside from verbose tar errors in sprint.sh (ignored unknown extended header keyword), Windows 8 has been working fine.

[2018-08-24 19:47] rfay commented on #91
I have never ever tested ddev on pre-Windows 7...  I wouldn't object! bash has some decent regex parsing stuff.

[2018-08-27 17:23] #91 closed, assigned to nobody

[2018-08-30 07:04] msankhala opened #93 "Fix MAINTAINER_README link in README.md"

[2018-09-10 22:11] rfay commented on #64
This was successful, so closing.

[2018-09-10 22:11] #64 closed, assigned to nobody

[2018-09-10 22:15] rfay opened #94 "Automatically determine latest docker toolbox release and download link"
Currently we have the docker-toolbox (for windows) download link hard-wired into the package_drupal_script.sh. So it's already out of date now that 18.06-1 is out. We need to determine it automatically instead; the api makes this pretty easy, as in https://github.com/drud/ddev/blob/master/install_ddev.sh#L15-L18 (although using jq -r is easier than the technique there.)

[2018-09-16 20:03] florisvangeel commented on #42
perhaps consider a fairly unused port like https://www.speedguide.net/port.php?port=8899
So we go from Drupal 8 to Drupal 9 in double pase ;).
if people run java stuff its on 8080 and / or 8443

[2018-09-17 17:39] rfay commented on #42
@idevit it's totally easy to change ddev port in the .ddev/config.yaml, lots of people do it. So just changing that as needed is good enough for the majority IMO.

[2019-01-15 18:19] mradcliffe opened #97 "Windows: package_drupal_script fails"
Creating a new issue branched from #96 to address buildkite issues on Windows.

From my manual testing so far I ran into the following issues:

- [ ] jq missing
- [ ] zip missing

[2019-01-15 19:30] rfay commented on #97
Sorry to waste your time on something that I could have pointed you to. Please use the setup instructions in https://github.com/drud/ddev/blob/master/docs/developers/buildkite-testmachine-setup.md to get a testable situation.

[2019-01-16 20:00] rfay commented on #97
With retries, this is working, but we may have a misbehaving (or misconfigured testbot). While we're working on this in coming days we ought to be able to sort that out. Closing for now.

[2019-01-16 20:00] #97 closed, assigned to nobody

[2019-01-16 22:09] rfay opened #99 "start_clean.sh should give more feedback about what it's doing"
Currently, start_clean.sh goes through a whole process:

* Start ddev project (with existing code)
* Update git
* composer install
* drush si

There are significant delays in that process, and it sure *looks* like everything should already be done right when the project comes up the first time. So it's surprising that the script keeps running.

We can just tell people "Still working, please wait"

[2019-01-16 22:11] rfay opened #100 "Update start_clean.sh for current ddev usage"
Currently start_clean.sh

* Shows complaints like:
[code]
* Uses composer directly; it should use `ddev composer install` instead.

[2019-01-16 22:14] rfay opened #101 "Simplify installation flow: Just have them run one basic script"
IMO the current flow is too complex; there are separate scripts:
* install.sh
* start_sprint.sh
* start_clean.sh

for doing the basic install, then creating a work area, then starting up in the work area. I maintain this is more complex than it needs to be, so will experiment with trying to get it down to just two operations.

[2019-01-17 17:53] rfay opened #103 "test_drupal_quicksprint.sh *re-downloads* all the assets, especially image tarball"
In https://buildkite.com/drud/quicksprint-macos/builds/151#3786269f-5502-42ec-a6b8-da9397ca2d1a I see that the build happens first, downloading all the assets including the image tarball. But then... The test script downloads it all again. Surely it can be better!

[2019-01-17 18:27] #94 closed, assigned to rfay

[2019-01-17 21:51] rfay commented on #83
It's my opinion that `git config --global core.autocrlf false` and `git config --global core.eol lf` is the right thing for Windows users. I've spent quite a bit of time on Windows in the last year and find that it doesn't make sense for git to *ever* be converting anything. And all modern editors on Windows are capable of using linefeeds for their line endings.  Drupal 8 specifies this behavior i

[2019-01-18 13:42] #99 closed, assigned to rfay

[2019-01-18 13:42] #100 closed, assigned to nobody

[2019-01-18 13:42] #103 closed, assigned to rfay

[2019-01-18 14:54] rfay commented on #13
Followups from TYPO3 slack:

* For creating db (dynamically) [Use typo3 console](https://typo3.slack.com/archives/C8TRNQ601/p1547791778234500?thread_ts=1547771521.234300&cid=C8TRNQ601) to build the db. May or may not work.

* For creating db [just use a static db dump and load it](https://typo3.slack.com/archives/C8TRNQ601/p1547796418235600) like we used to do for Drupal.

* Make sure to [set up a

[2019-01-18 16:52] rfay opened #106 "Fix "gzip: warning: GZIP environment variable is deprecated""
We're seeing this warning in a number of places:
`gzip: warning: GZIP environment variable is deprecated; use an alias or script`

So we should stop using the GZIP environment variable.

 

[2019-01-18 20:47] mradcliffe commented on #13
I'm also working something related, but on the Drupal end. To be able to provide/add back in the IDE container (optionally as both a build and a user preference). So storing Drupal/Typo3 specific configuration is an aspect of this.

[2019-01-19 16:13] #93 closed, assigned to nobody

[2019-01-22 18:12] #106 closed, assigned to nobody

[2019-01-23 18:48] mradcliffe opened #110 "chmod: no such file or directory when running tests"
From https://circleci.com/gh/drud/quicksprint/848 and recent test runs:

     chmod: cannot access ‘/home/circleci/sprint/’: No such file or directory

[2019-01-23 18:58] #83 closed, assigned to nobody

[2019-01-28 18:34] rfay commented on #101
Here's my thinking:
* install.sh sets up basic requirements
* start_sprint.sh would combine the current start_sprint.sh and start_clean.sh. Basically, set up a directory in ~/sites and then start ddev there.
* start_clean.sh would just go away; it blows away everything and starts over, but I've felt that it was confusing and unnecessary. Why not just start another sprint if you're working on a dif

[2019-01-29 00:51] rfay opened #112 "Auto-install using the ddev_windows_installer on Windows"
We can now do a silent install with the ddev_windows_installer*.exe, so we should do that; it's not intrusive, and makes one less thing to stop for in the install process.

[2019-01-31 21:56] rfay opened #114 "Make sure api query to determine latest ddev release excludes prerelease"
We've now added "ignore prerelease tags" in ddev's query, we need to add that here, so it doesn't pull a prerelease into quicksprint.

[2019-02-01 01:35] rfay commented on #114
This doesn't seem to be a problem. https://github.com/drud/ddev/releases/latest does not fetch prerelease releases.

[2019-02-01 01:35] #114 closed, assigned to nobody

[2019-02-03 19:00] #110 closed, assigned to nobody

[2019-02-04 20:20] mradcliffe opened #115 "Update sprint user docs to remove start_clean usage"
Whoops.

We forgot to update documentation as well.

[2019-02-04 20:22] mradcliffe commented on #115
Sorry, I forgot that we hadn't done this yet.

[2019-02-04 20:22] #115 closed, assigned to nobody

[2019-02-09 17:55] #112 closed, assigned to rfay

[2019-02-11 00:02] rfay opened #119 "Automatic push to github release"
We've added automatic push to github release on ddev now, so it shouldn't be hard to do that here. It would make rolling a release a lot easier, especially at times with less bandwidth.

[2019-02-11 13:58] mradcliffe commented on #119
Not sure if we'll run into this, but I ran into with Travis CI. There's a "limit" on attaching files via the API. I had to break releases into their Windows, Docker Tool Box, Linux and MacOS equivalents in order to successfully add the release. Otherwise it would create the release but not add the files.

[2019-02-25 16:36] #101 closed, assigned to rfay

[2019-03-01 22:18] rfay opened #121 "SPRINT_BRANCH should be changed to 8.8.x about May 1, 2019"
8.7.0 will be released about May 1 2019, so we need to change SPRINT_BRANCH to 8.8.x at that time, https://github.com/drud/quicksprint/blob/d420ddc831948da8ea74b05132bbea9989529035/tests/installation.bats#L8

[2019-03-27 20:46] cosmicdreams opened #123 "ddev start does not provide me a link like the instructions says it would"
Platform: MacOS Mojave

I attempted to install this for the first time on my laptop and couldn't get past the ```ddev start``` part that I assume is near the end of the process.  I have installed Docker and used it before on my laptop without issue but I had never used a ddev instance before.

I'm going to let the process go for a long as I can to see if it'll eventually complete.  It's been going

[2019-03-27 22:13] rfay commented on #123
Could you please provide the actual output that you saw?  I assume you didn't install docker from the tarball. Please try the "see if docker is working" command from https://ddev.readthedocs.io/en/stable/users/docker_installation/#testing-and-troubleshooting-your-docker-installation: `docker run --rm -t -p 80:80 -v "/$PWD:/tmp/projdir" -v "/$HOME:/tmp/homedir" busybox sh -c "echo ---- Project Dire

[2019-03-27 23:43] cosmicdreams commented on #123
Sure:

[code]

I eventually came back to this after closing my laptop for the day and getting back online and noticed that it finally processed through and was waiting for me to enter a password.  I'm pretty sure it wasn't asking me for a password before.  But there's always the case that I didn't see the part of the process that was waiting for me to enter some input.

Maybe this isn't an issue a

[2019-03-27 23:46] rfay commented on #123
My bet is it was waiting for the password. Do you have a suggestion about how we can make that clearer? Of course with guides/mentors reminding people it will happen it won't be a problem but if you got derailed by it you won't be the only one.

`ddev start` actually only takes about 11 seconds on average on a current MBP... Of course there are things that happen after that (updating the git check

[2019-03-28 01:28] cosmicdreams commented on #123
My only thought here is that I bet was that thing that happens with Terminal sometimes when you accidentally scroll up on the text and the bottom of the window is obscured.

Maybe:
1. Warn the user (before the long process of loading) that they might have to enter a password in order to allow the process to complete.

Yeah I thought I had more suggestions but I don't

[2019-03-28 01:31] cosmicdreams commented on #123
Good news is that I'll be one of the mentors on Sprint day.  Now that this has happened to me, I'll be on the lookout for it happening on that day

[2019-03-28 16:53] rfay commented on #123
This problem may be a result of the instrumentation opt-in prompt that happens on first ddev usage (and has been added since last time around on quicksprint). If we do a `ddev config global --instrumentation-opt-in=false` before the `ddev start` it would prevent that prompt from appearing.

Also, the `ddev start` output is redirected in the start_sprint.sh command, which is probably a mistake, and

[2019-03-28 20:10] andrewfrench opened #125 "The ddev command is not present in the PATH after install.sh on Windows"
On a Quicksprint install flow and using a fresh Windows 10 Home machine (no previous Docker or ddev installation), start_sprint.sh fails after running install.sh.

On Windows, Quicksprint installs ddev using the Windows installer, which states that ddev may not be present in the path until a new terminal session has started. When Quicksprint is the first time a user has installed ddev, this is tru

[2019-03-28 20:23] andrewfrench opened #126 "Docker Toolbox must be restarted to properly configure the ddev_default network (Windows 10 Home)"
On a Quicksprint install flow and using a fresh Windows 10 Home machine (no previous Docker or ddev installation), start_sprint.sh fails after installing Docker Toolbox and running install.sh.

The start_sprint.sh process fails while trying to fetch the current Drupal8 git repository because the web container does not have access to the Internet. Bypassing this by running the git commands on the h

[2019-03-28 22:14] rfay commented on #126
I'm completely unable to recreate this problem. I started on a Win 10 Home machine by
* Made sure the firewall was on
* docker-machine stop
* docker-machine rm default
* Uninstall docker toolbox from the Windows "Add or remove Programs"
* Install docker toolbox again
* `ddev composer install` in a Drupal project. It started downloading composer-things right away.

[2019-03-28 23:10] #125 closed, assigned to nobody

[2019-03-28 23:24] rfay commented on #126
I was unable to recreate this starting with a fresh install of Windows 10 Home, so I think we're going to have to punt for now. Good experience for me though!  @andrewfrench if you think it's important enough to chase point me the right direction. But I think this is probably not going to be a big issue.

[2019-03-29 00:35] #123 closed, assigned to nobody

[2019-04-09 21:41] dtw2000 opened #129 "xz not found at start sprint step"
xz not found at start sprint step

Output:
$ ./start_sprint.sh
Untarring sprint.tar.xz
tar (child): xz: Cannot exec: No such file or directory
tar (child): Error is not recoverable: exiting now
tar: Child returned status 2
tar: Error is not recoverable: exiting now

[2019-04-09 22:39] rfay commented on #129
Are you using quicksprint or what they're handing out at Drupalcon? (a fork, unknown lineage)? What OS are you on? Regardless, if Windows, you may want to make sure you have the latest git-for-windows, which includes xz.

[2019-04-09 22:44] andrewfrench commented on #129
~Based on your error output, it looks like you may be running the source code version of the Quicksprint, is that right? I get a similar error if I run `./start_sprint.sh` on the master branch because the repository doesn't include the artifacts the scripts expect.~

~If that's the case, try starting a sprint using the appropriate distribution for your environment, [available here](https://github.

[2019-04-09 23:20] rfay commented on #129
@dtw2000 I'm pretty sure you'll find (if on Windows) that you need to install the current git for windows. If you're on another OS, let us know and we'll guide you. Most macOS/Linux systems are all set with xz.

[2019-04-11 01:54] dtw2000 commented on #129
@rfay I'm at druppalCon and was attempting to run this on Windows.  Brian Gilbert, maybe - I'm not sure, was super nice and was trying to help me get it running.  We posted the error and he recommended I reach out to you on the drupal slack channel, so I'll reach out to you there.  I wanted to try again first.

At first, I was using the instructions from https://www.drupal.org/tools#windows
After

[2019-04-11 01:59] rfay commented on #129
Sorry @dtw2000, the Cloud9 IDE is not a part of this package. You'll have to check with @BrianGilbert for support. We don't have any idea about the forked package is that's being distributed there with Cloud9 in it; it was a big surprise.

[2019-04-11 13:35] BrianGilbert commented on #129
@rfay we experienced this with the current release of dev downloaded from the quick sprint releases page

[2019-04-15 01:22] rfay commented on #129
Right, as above, this is a result of not using current git for windows, which bundles xz.

[2019-04-15 01:22] #129 closed, assigned to nobody

[2019-04-18 02:38] dtw2000 commented on #129
@rfay I did uninstall and reinstall the latest git for windows.  Based on your comment, that would explain why I couldn't reproduce it later.  At any rate, thank you both.

[2019-04-18 03:39] rfay commented on #129
👍

[2019-05-07 03:43] #121 closed, assigned to nobody

[2019-05-07 03:43] rfay commented on #126
Closing for now, will keep eyes open.

[2019-05-07 03:43] #126 closed, assigned to nobody

[2019-06-24 13:27] rfay opened #133 "default domain changes from "ddev.local" to "ddev.site""
In ddev v1.9, the default domain changes from ddev.local to ddev.site. This may affect quicksprint docs, and we need to consider if there are any other impacts. The good news is that people don't need to have admin to add things to /etc/hosts all the time.

[2019-09-19 21:54] rfay opened #134 "Reached github releases file size limit of 2GB for full package"
Due to the growing size of the Docker installers for Windows and macOS, the "full" tarball got too big, and now github won't let it go to the releases page; they have a limit of 2GB.

There's a pretty simple solution to this: Package the installers as a separate tarball/zipball file. And it's a reasonable thing to do as well.

As a result of this the full tarball for v1.1.0 is available at https:/

[2019-09-20 11:00] mradcliffe commented on #134
Also could make a tarball for each OS, but I think that could be more confusing. I've done that before.

[2019-09-20 14:01] rfay commented on #134
good point, thanks

[2019-09-21 04:05] rfay opened #139 "Update usage: rm -> stop, rm -a > poweroff, etc"
A few things in ddev have changed, although the old ways still work.

ddev rm is now ddev stop
ddev poweroff is the best way to shut everything down
ddev delete is easier to use than `ddev rm -RO`

[2019-09-21 22:39] rfay opened #140 "Drupal world is trying to use "Contribution day" or something instead of "Sprint""
Should we change "sprint" in places like "This script will install everything you need to participate in this sprint". It's easy to change there and in the docs.

[2019-09-21 22:49] rfay opened #141 "Add mkcert -install to instructions and package mkcert"
Mostly people now work with ddev using https, and mkcert makes this possible. We should ask people to do a `mkcert -install`... And make sure that mkcert is even available. It's installed by Windows, but not sure we get it the other paths here.

[2019-09-23 00:36] #133 closed, assigned to nobody

[2019-09-23 00:37] #139 closed, assigned to nobody

[2019-09-23 00:42] #140 closed, assigned to nobody

[2019-09-23 03:15] #134 closed, assigned to nobody

[2019-09-23 13:58] #119 closed, assigned to nobody

[2019-09-26 16:09] rfay opened #148 "Comments/questions on Quicksprint v1.2"
A beta release of Quicksprint v1.2 is available in https://github.com/drud/quicksprint/releases

If you find a bug, please open a separate issue.

If you'd like to comment or discuss something, feel free to comment here.

[2019-09-26 20:03] rfay opened #150 "Manual testing results for v1.2.0"
Here are my testing results:

* Windows 10 Pro, fairly clean system: Did start-to-finish installation
    * encountered a couple of docs issues, solved in https://github.com/drud/quicksprint/pull/149.
    * On Windows in a virtualized environment the untar of sprint.tar.gz really does take a long time.
    * 👎 https://github.com/drud/quicksprint/issues/151
[code]
    This is a result of https://ww

[2019-09-26 20:07] rfay opened #151 "Windows, simple environment: Untarring drupal8 tarball fails, tar: ./drupal8/vendor/bin/composer: Cannot create symlink"
Composer on Windows seems to be creating a setup that assumes Windows symlinks are enabled. We'll have to convince it otherwise.
[code]

[2019-09-26 20:24] rfay commented on #151
This is a result of https://www.drupal.org/project/drupal/issues/3082866, and is a core issue. But it triggers a full-on failure when the composer build is tarred up as it is here. It's likely this issue will be resolved before Drupalcon Copenhagen, but it would sure be nice if it could be worked around here.

[2019-09-26 21:43] rfay commented on #151
The reason the automated tests didn't fail on this bug is that the Windows tests are run on Windows, so the package is built on Windows, so composer creates a pseudo-link which is actually a script. Avoiding the problem. The only way it could have been caught is if the WIndows tests/testbots actually downloaded the built package from a Linux build and then tried them out, which would be awkward an

[2019-09-28 01:34] #151 closed, assigned to nobody

[2019-10-10 19:48] rfay opened #153 "Change SPRINT_BRANCH to 9.0.x about Oct 14, 2019"
Most opinion seems to be that the default branch checked out for Drupalcon Amsterdam should be SPRINT_BRANCH=9.0.x.

According to https://www.drupal.org/docs/9/how-drupal-9-is-made-and-what-is-included/when-does-the-dedicated-drupal-9-core-branch-open 9.0.x will be created sometime around October 14, 2019.

[2019-10-10 21:01] mradcliffe commented on #150
I think Docker Toolbox is incompatible with VirtualBox 6 based on my testing. This should be added to a known issues list.

Maybe a wiki page on this repository?

[2019-10-10 21:05] rfay commented on #150
It matters a lot whether you're talking about Windows home, etc.

If you're on Win 10 Home, then Hyper-V is *not* enabled, and I think any version of Virtualbox will work.

Please check what version of Virtualbox is bundled with Docker Toolbox. It may be latest. But again, Virtualbox doesn't play well (still) with Hyper-V.

[2019-10-10 21:08] mradcliffe commented on #150
Docker Toolbox bundles 5.2.20 currently and trying to use VirtualBox failed when Docker Quickstart Terminal tried to bring up the VM due to an issue with the Host-only adapter.

This is Windows 10 Professional (locked down to prevent local file sharing and thus Docker Toolbox).

[2019-10-10 21:09] rfay commented on #150
Yeah, if you're on Win 10 Pro you probably have Docker Desktop installed? Which means you have Hyper-V enabled? Which means that Virtualbox is not a good thing?

[2019-10-11 13:27] rfay commented on #153
Well, this may not work at all; although the 9.0.x branch has now been cut, it doesn't yet work at all (no drush si, etc). I'm betting we won't be able to run 9.0.x in quicksprint before Drupalcon.

[2019-10-11 19:17] rfay commented on #153
Discussion in #mentoring came up with the idea of having script(s) to change branch and reinstall. It's not a bad idea anyway.

[2019-10-12 18:05] rfay commented on #153
Anything we do with this is dependent on 9.0.x even being installable. https://www.drupal.org/project/drupal/issues/3072702

[2019-10-14 22:57] BrianGilbert opened #155 "Document minimum hardware/ OS requirements"
@rfay are the minimum requirements known?

This will save people that are going to have issues from attempting to install

[2019-10-14 23:04] rfay commented on #155
Any system that can run docker is good. . Here are the docs: https://ddev.readthedocs.io/en/stable/#system-requirements

 On macOS that means from Sierra up works; on Windows as you know Win10 is preferable but you can run Docker Toolbox on Win 7+. Most Linux versions any time in recent ages works.

[2019-10-18 15:16] #153 closed, assigned to nobody

[2019-10-25 11:50] mradcliffe commented on #141
I believe this issue can be closed as it's completed. The install.sh final instructions contain `mkcert -install`.

[2019-10-25 11:50] #141 closed, assigned to nobody

[2019-10-25 12:09] mradcliffe commented on #150
No, I am on Windows 10 Professional, but due to Global Policy restrictions running Docker CE is not possible (file sharing disabled). This lets me test Docker Toolbox.

Some how the network driver was uninstalled. I needed to go to `C:\Program Files\Oracle\VirtualBox\drivers\vboxdrv` and install the driver, reboot, and then the docker vm booted.

Found a separate computer-is-restricted issue:
[cod

[2019-11-01 16:10] mradcliffe opened #157 "Support Mautic on quicksprint"
- [ ] Blocked on #122
  - [ ] Gather requirements from Mautic community via forums or mautic.org/slack
  - [ ] Do the work

[2019-11-05 17:13] rfay opened #158 "Drush and Drupal 9 and drush si for built core-dev environment"
We use drush to do a `drush si` for people so they have a starter database right away.

However, Drupal 9 is going to be the future of quicksprint, and the [Drush compatibility chart](http://docs.drush.org/en/master/install/#drupal-compatibility) tells us that Drush8 will not be compatible with Drupal 9.

However, in Drush 8.3.1 @greg.1.anderson did in fact provide provisional support, but it's no

[2019-11-11 04:07] rfay opened #159 "Intermittent failure on nightly build"
The nightly build is broken. I haven't investigated it yet. For example, https://circleci.com/gh/drud/quicksprint/1977

[2019-11-11 13:29] mradcliffe commented on #159
I ran the tests this morning locally on MacOS, and didn't run into any issues.

Might need to add some debug statements in test setup and see what happens.

[2019-11-11 14:15] mradcliffe commented on #159
Hmm, a PR just passed the test suite with only minimal changes, so that rules out debugging. Maybe wait another nightly cycle.

[2019-11-11 14:18] rfay commented on #159
Looks like perhaps there's a difference between the nightly and regular build?

Also, I note that I've seen the nightly build failure intermittently before, it seems to have to do with something fragile in the site setup.  Note in https://circleci.com/gh/drud/quicksprint/1977?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link that

But "no .ddev/config.yaml was fou

[2019-11-11 14:24] mradcliffe commented on #159
I think that's due to it failing before test completion so it doesn't have a chance to change directory into `${SPRINTDIR}/${SPRINT_NAME}/drupal8` directory.

[2019-11-11 14:26] mradcliffe opened #161 "Chocolatey failing on Windows Docker CE and Toolbox buildkite"
Seemingly simple PR that didn't change anything buildkite or Windows related failed so something is different about chocolatey or the Windows environments:

`ERROR: Cannot bind argument to parameter 'Path' because it is null.` in  `C:\ProgramData\chocolatey\lib\php\tools\chocolateyInstall.ps1'.`

[2019-11-11 14:27] rfay commented on #159
That makes sense, so it's trying to take down something that it never got going? That should be a fairly easy fix.  (But we see the `ddev start` fail... So it must have gotten in there...)

[2019-11-12 13:55] mradcliffe commented on #159
The nightly test_package succeeded today - https://circleci.com/gh/drud/quicksprint/1983

[2019-11-13 15:00] rfay commented on #159
Has succeeded a couple of times now. This is an old frenemy, so will come back again. I don't mind so much that it fails from time to time, sure wish the flaw in cleanup wasn't there.

[2019-12-11 21:56] rfay commented on #159
THis (was) regularly succeeding, so I'll close this one.

The annoying thing is that test failure results in a wrong takedown in the tests, which is why we see "no .ddev/config.yaml was found in ~/sprint!", I'm pretty sure that's just a symptom of the random failure, not a cause.

[2019-12-11 21:56] #159 closed, assigned to nobody

[2019-12-11 21:57] rfay commented on #158
Current ddev has drush 8.3.1, which should work fine for this, so closing.

[2019-12-11 21:57] #158 closed, assigned to nobody

[2019-12-11 21:58] rfay commented on #161
Maybe you could say more about this. Did you have trouble with Chocolatey install on v1.12.0? I've done an awful lot of installs via Choco. If you're able to recreate it, please give full instructions. Lots of people are using it.

It looks like you're having trouble installing php?

Oh, or is this the thing that's currently breaking the nightly build. It didn't have anything to do with your PR.

[2019-12-11 21:59] rfay commented on #150
Long done.

[2019-12-11 21:59] #150 closed, assigned to nobody

[2019-12-11 21:59] rfay commented on #148
Long done.

[2019-12-11 21:59] #148 closed, assigned to nobody

[2019-12-11 22:01] rfay opened #163 "Use drupal/recommended-project for build"
drupal/recommended-project is the suggested technique for Drupal 8.8.

* It has some serious problems on WIndows
* It doesn't include drush

But we should try to figure out how to use it before next version

[2019-12-11 22:12] mradcliffe commented on #163
Is there a drupal.org issue regarding the windows issues? I haven't seen anything pop in #composer Drupal slack channel, but I've been missing some of the composer initiative meetings lately.

[2019-12-11 22:15] rfay commented on #163
I've only tried it once, and it was awful, every download had to restart. But I haven't returned to it.

Where is the repo for issues on drupal/recommended-project? I am astonished that they left out drush, and more astonished that it works worse than drupal-project.

[2019-12-11 22:17] mradcliffe commented on #163
It's a metapackage generated by drupal.org infrastructure, but all the code is in core so the core issue queue.

[2019-12-11 22:26] mradcliffe commented on #163
Maybe I'm thinking about something else. I thought drupal/recommended-project was a metapackage from core. There might be another one.

[2019-12-11 22:35] mradcliffe commented on #163
drupal/recommended-project _is_ committed by drupal.org infrastructure "drupal.org deployment user" on core commits. And there is a 9.0.x-dev and 8.9.x-dev on packagist. But even using that doesn't make a git repository in the web/ directory.

I think it's safer not to use a project as core development is still not composer based. This will complicate things because drush isn't installed and in or

[2019-12-11 23:02] rfay commented on #161
Oh, I see you were talking about this in the build log on Windows:
[code]

[2019-12-12 18:45] #161 closed, assigned to nobody

[2019-12-15 01:36] rfay commented on #13
There hasn't been any more interest that I can determine from the TYPO3 end. It seems they just teach everybody to use ddev from the start, so don't need this extra. Closing.

[2019-12-15 01:36] #13 closed, assigned to nobody

[2019-12-19 18:17] mradcliffe opened #164 "Update example.gitignore file with change from core"
https://github.com/drud/quicksprint/blob/master/example.gitignore#L35

vendor should be /vendor/ now. Ran into this writing a core patch that adds a new directory in core/assets/vendor/

I compared differences between a gitignore from core that I copied and that's probably the only change. :-)

[code]

[2019-12-23 03:50] rfay commented on #164
It would make sense to do this with https://github.com/drud/quicksprint/issues/163 (making sure we have it set up right with drupal-recommended-project)

[2019-12-29 14:14] rfay commented on #163
I did some more testing on recommended-project and it fails a *lot* on WIndows (CIFS mounted filesystem). drupal-composer/drupal-project does not. So I closed the docs issue on ddev for now, https://github.com/drud/ddev/pull/1993#issuecomment-569509215

The failures are so significant on Windows that it's hard to describe them all. Right now I wouldn't want to chase that.

[2020-02-05 03:10] rfay commented on #163
For core development it doesn't make sense to use recommended-project. Git checkout is the correct thing here. This issue didn't make any sense.

[2020-02-05 03:10] #163 closed, assigned to nobody

[2020-02-05 03:11] rfay opened #166 "Docker Desktop for WIndows 2.2.0.0 is latest and nonfunctional"
I was planning to do a release this week, but right now Docker Desktop for Windows (2.2.0.0) is nonfunctional, so we'd have to figure out a temporary workaround to pin an earlier version of Docker. Yuck.

[2020-02-10 14:53] rfay commented on #166
Reopening as #167 will have to be reverted when docker desktop works.

[2020-03-02 20:49] #166 closed, assigned to nobody

[2020-03-19 15:34] rfay opened #171 "install.sh could do silent install of ddev on Windows"
Currently install.sh shows the ddev privilege escalation dialog, and it probably doesn't have to. The install could most likely do a silent install, at least in a privileged git-bash window.

[2020-03-19 15:49] mradcliffe commented on #171
I think it's appropriate to warn people about privilege escalation although some people do try to ignore / cancel out of it and act surprised. I guess that should be weighed against opening up the complexity of opening a privileged git-bash window, which is more than just using the context menu to "Git Bash Here" or double-clicking Git-Bash on the desktop.

[2020-03-20 20:46] rfay commented on #171
I think this is OK as is. Thanks for the comment @mradcliffe

[2020-03-20 20:46] #171 closed, assigned to nobody

[2020-05-22 12:53] mradcliffe opened #173 "Error running git fetch && git checkout origin/9.0.x due to untracked file"
Documenting this, but I won't be able to work on it or try to reproduce it immediately. I didn't see any new errors in nightly tests.

* Fresh install on MacOS using v1.3.3 release

1. ./install.sh ran smoothly
2. Opened new Terminal window
3. mkcert -install ran successfully
4. Changed directory to ~/sprint
5. ./start_sprint.sh ran until it errored out on `git fetch && git checkout origin/9.0.x`

[2020-06-05 21:19] rfay opened #174 "Stop support for Docker Toolbox"
Now that Windows Spring release for 2020 is out (Windows 2004), Docker Desktop for Windows runs on Win10 Home, and very nicely.

I think we should stop testing Win10 Toolbox and remove support (and docs)

The path forward for ddev is going to be:

1. Stop testing
2. Deprecate
3. Remove code

Because testing resources are slim (and the same ones used for Quicksprint) I'm quite sure we'll be moving

[2020-06-09 17:22] mradcliffe commented on #174
:+1: That sounds good. It looks like Docker Desktop for Windows Home would be adequate. It requires WSL 2, which is probably the only big hurdle, but hopefully Windows Home users update more frequently than corporate users.

I think the two main blockers for getting rid of Docker Toolbox are probably solved now:

1. local file sharing no longer required
2. Hyper-V no longer required

I had a chanc

[2020-06-09 19:58] mradcliffe commented on #173
I think this should fix itself in the next release. I ran into something similar today testing 1.3.3 on Docker Desktop for Windows. Deleting the local 9.0.x branch that was created in the release and checking a new local branch based on upstream worked.

[2020-07-08 02:51] rfay commented on #174
ddev will deprecate docker toolbox in v1.16, so we can just do this after Drupalcon Global and before the next one.

[2020-07-08 03:50] rfay opened #176 "Docker CE is now called "Docker Desktop" on Windows, macOS, no need for Hyper-V"
- [ ]  Rename Docker CE to Docker Desktop (except for Linux)
- [ ] Hyper-V is now the *legacy* setting of Docker Desktop.

[2020-07-08 14:51] rfay opened #177 "Add `ddev launch` to setup, it's nice"
`ddev launch` is a newer command that will help people get going exactly 6 microseconds faster. We should add it to the "start_sprint.sh"

[2020-07-14 20:09] rfay opened #179 "Move SPRINTUSER readme to README.md"
The SPRINTUSER readme should really be the main README.md. Move it there, add links to the other perhaps. I don't think the maintainer doc is even that useful any more, because maintainers haven't had to touch anything for ages.

[2020-08-19 19:25] mradcliffe commented on #173
Should be resolved now.

[2020-08-19 19:25] #173 closed, assigned to nobody

[2020-09-28 16:37] #174 closed, assigned to nobody

[2020-09-28 16:37] #176 closed, assigned to nobody

[2020-09-28 16:38] #164 closed, assigned to nobody

[2020-09-28 18:39] rfay opened #182 "DDEV package names change to require architecture in v1.16.0"
When v1.16.0 comes out, the architecture will be part of the tarball download name, so that will have to change here.

[2020-11-13 13:35] rfay opened #185 "start_sprint.sh pulls phpmyadmin (bad in tight internet situation)"
The idea behind quicksprint is to bundle everything up and prevent dependency on conference wifi.

I note that start_sprint.sh pulls phpmyadmin the first time. It should have it bundled.

[2020-11-13 14:13] rfay opened #186 "Bump php version used to 7.4"
We should be installing sites with php7.4

[2020-11-15 21:22] rfay opened #187 "Use composer 2"
Composer 2 works for 9.2.x and 9.1.x and 9.0.x and even 8.9.x

so `ddev config --composer-version=2` and it will speed things up.

[2020-11-15 21:58] #182 closed, assigned to nobody

[2020-11-16 01:06] rfay commented on #157
Until there is a request from the Mautic community, I think we should pass on this.

[2020-11-16 01:53] #186 closed, assigned to nobody

[2020-11-16 01:53] #187 closed, assigned to nobody

[2020-11-16 01:53] #179 closed, assigned to nobody

[2020-12-14 10:31] michaellenahan opened #192 "xdebug instructions"
I am having trouble getting xdebug to work with ddev quicksprint.

[code]

Following instructions from: https://ddev.readthedocs.io/en/stable/users/step-debugging/
PhpStorm "zero-configuration debugging" did not work, I don't get my breakpoints to hit.

Tested this by setting a breakpoint at the top of index.php, but could not get this breakpoint to hit.
[code]

I'm using chrome browser with the "

[2020-12-14 10:35] michaellenahan commented on #192
![2020-12-14-112720-drud-quicksprint-issues-192-xdebug](https://user-images.githubusercontent.com/219397/102073013-f4a14b00-3e02-11eb-9c7f-3d80f4a5b4f9.png)

[2020-12-14 16:59] rfay commented on #192
Thanks for stopping in here @michaellenahan !

I do want to make sure you know that quicksprint is really for conferences, and to go forward it would be wonderful to have you switch over to the regular ddev installation, which just gives you a long-term sustainable approach for upgrades.

You didn't say what OS you're on, but from the screenshot it looks like macOS.

Could you please watch the vid

[2021-02-20 20:47] rfay commented on #192
Closing, no response from OP. Happy to continue the conversation here or elsewhere.

[2021-02-20 20:47] #192 closed, assigned to nobody

[2021-03-23 13:54] rfay opened #193 "quicksprint is getting older versions of docker"
Currently the [installs](https://github.com/drud/quicksprint/releases/download/v1.15.2/quicksprint_thirdparty_installs.v1.15.2.tar.gz) in the latest release https://github.com/drud/quicksprint/releases/tag/v1.15.2 is not picking up current docker for mac. I think they moved the link and probably orphaned the one we need.

This doesn't do much harm for Midcamp, because the docker version we're bund

[2021-03-24 02:17] #193 closed, assigned to nobody

[2021-03-24 22:09] mglaman opened #195 "Automatically configure chromedriver, PHPUnit, and Nightwatch"
I'm not sure how to do it. But here's what is needed to get DDEV configured and running "all of the tests"

https://github.com/bluehorndigital/drupal-testing-workshop/blob/main/.ddev/docker-compose.testing.yaml

[code]

This was brought up in https://github.com/bluehorndigital/drupal-testing-workshop/issues/10

[2021-03-24 22:13] mradcliffe commented on #195
- [ ] confirm image is added or add it to bundled images with license info
- [ ] adapt nightwatch/phpunit commands
- [ ] add yaml config (works as-is) from example
- [ ] add docs

[2021-03-26 17:00] mradcliffe opened #197 "Add a note to not follow remote access post-instructions for linux"
- 1. The Post-installation instructions on Docker are confusing as "Troubleshooting" isn't necessarily understandable.
- 2. The Post-installation instructions on DDev are confusing for the same reason.

Basically answer the question "Where do we stop" and when to return to the Quicksprint instructions.

[2021-04-16 11:51] rfay opened #199 "Support Mac M1 Apple Silicon"
ddev supports Apple M1 machines... Quicksprint will have to be smart enough to do that as well.

[2021-04-27 12:38] rfay commented on #185
There are two components to the fix here:
1. Upstream (ddev) Specify the version of phpmyadmin
2. Here: Make sure we have phpmyadmin in the list of images to grab from the tarball.

[2021-05-26 00:40] huy77athe opened #201 "Is there anyway to use quicksprint with an established codebase?"
Hello,

I am new to Drupal and I am trying to run my local dev env with an established codebase the quicksprint way. I don't like installing MAMP because I want to make sure I have the same settings when deployed or handling it to other dev. I am not sure if this is the right place to ask this question. Should I use Lando instead of Quicksprint?

Thank you!

[2021-05-26 11:38] mradcliffe commented on #201
You can use [ddev](https://github.com/drud/ddev/) directly to get up and running, @huy77athe.  If you change directory inside your site project, you can run `ddev config` which should start it.

This repository and issue queue is for quicksprint, which is a ddev-based tool used to help people new to contributing to [Drupal core](https://drupal.org/project/drupal).

[2021-05-26 14:36] huy77athe commented on #201
Thank you very much for your response! I will close this issue as I think it helped resolve my problem. Thank you!

[2021-05-26 14:36] #201 closed, assigned to nobody

[2021-06-03 20:47] rfay commented on #157
Closing for now, thanks for the thought!

[2021-06-03 20:47] #157 closed, assigned to nobody

[2021-06-24 17:38] rfay opened #202 "Bump default branch to Drupal 9.3"
Drupal 9.2 is out, so it's time to change the default checkout to 9.3

[2021-07-14 01:39] rfay commented on #197
Probably both ddev and quicksprint instructions should just say "Add your user to the docker group with
(sudo groupadd docker || true) && sudo usermod -aG docker $USER`

[2021-09-30 04:20] #202 closed, assigned to nobody

[2021-10-01 13:52] #199 closed, assigned to nobody